@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.MainMap-BusStop-DivIcon {
  background: rgba(0, 0, 0, 0);
}

.MainMap-Bus-DivIcon {
  background: rgba(0, 0, 0, 0);
}
